.last-patients {
    padding: 8px 6px 8px 10px;
    max-width: 1380px;
    width: 161px;

    @include mq($from: 375px){
        width: 100%;
        margin: $margin-component;
    }

    @include mq($from: tablet) {
        padding: 18px 26px 18px 58px ;
    }

    &__icon {
        @include mq($until: tablet){
            display: none;
        }
    }

    &__title {
        
        &--desktop {
            @include mq($until: tablet){
                display: none;
            }
        }
        &--mobile {
            text-align: center;
            margin-bottom: 10px;
            @include mq($from: 440px){
                padding: 0 10px;
            }
            @include mq($from: tablet){
                display: none;
            }

        }
    }

    &-list {
        list-style: none;
        overflow: auto;
        max-height: 127px;
        padding-right: 2px;
        @include mq($from: desktop) {
            max-height: 168px;
            padding-right: 30px;
        }

        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        
        &::-webkit-scrollbar:vertical {
            width: 2px;
        }
        
        &::-webkit-scrollbar-thumb {
            background: rgba(196, 196, 196, 0.5);
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 0;
            @include mq($from: desktop) {
                margin: 4px 0;
            }
        }
        &__name {
            font-size: 11px;
            width: 69px;
            @include mq($from: desktop) {
                width: 180px;
                font-size: 14px;
            }
        }
        &__line {
            width: calc(100% - 300px);
            border: $border-line;
            @include mq($until: tablet) {
                display: none;
            }
        }
    }
}