.next-appointment {
    padding: 9px 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    @include mq($until: desktop) {
        border-radius: 7px;
    }

    @include mq($from: desktop) {
        padding: 30px 23px;
    }

    &__icon {
        @include mq($until: desktoplg) {
            display: none;
         }
        &-icon {
            font-size: 78px;
            color: $color-blue-green;
            @include mq($from: desktop) {
                font-size: 55px;
                padding-right: 15px;
            }
            @include mq($from: wide) {
                font-size: 78px;
            }
        }
    }
    &__title {
        margin-bottom: 5px;
        @include mq($from: tablet) {
            margin-bottom: 15px;
        }
    }

    &-info {
        display: flex;
        list-style: none;

        @include mq($until: tablet) {
            flex-direction: column-reverse;
            flex-wrap: wrap;
        }
        
        &__item {
            @include mq($until: tablet) {
                line-height: 1.8;
            }
            &:first-child {
                display: flex;
                .next-appointment-info__item--time,
                .next-appointment-info__item--modality {
                    margin-right: 20px;
                    position: relative;
                    span:first-child  {
                        font-size: 12px;
                    }
                    @include mq($from: tablet) {
                        margin-right: 40px;
                        span:first-child {
                            font-size: 16px;
                        }
                    }
                    @include mq($from: desktop) {
                        margin-right: 72px;
                        &:before {
                            position: absolute;
                            content: "";
                            width: 50px;
                            height: 0;
                            border: 1px dashed rgba(0, 0, 0, 0.2);
                            right: -60px;
                            top: 10px;
                        }
                    }
                    @include mq($from: wide) {
                        span:first-child  {
                            font-size: 20px;
                        }
                    }
                    
                }
                .next-appointment-info__item--modality {
                    text-align: center;
                }
            }
            span {
                display: block;
                font-size: 16px;
                @include mq($from: wide) {
                    font-size: 20px;
                }
                &:last-of-type {
                    text-align: center;
                    color: rgba(94, 114, 138, 0.5);
                    font-family: $font-poppins-extrabold;
                    padding-top: 10px;
                    font-size: 14px;
                    @include mq($until: tablet) {
                        display: none;
                    }
                }
            }
           
            &:last-of-type {
                margin-right: 0;
                &:before {
                    display: none;
                }
            }
            &--name {
                
                @include mq($until: tablet) {
                    span {
                        color: $color-blue-green;
                        font-size: 14px;
                        font-weight: 600;
                        text-align: left;
                    }

                }
            }
        }
    }
    &__controls {
        display: none;
        @include mq($from: desktop) {
            display: block;
            width: 169px;
            text-align: right;
            .button {
                &:first-child {
                    margin-right: 0;
                    margin-bottom: 6px;
                }
            }
        }
        @include mq($from: desktoplg) {
            width: auto;
            text-align: initial;
            .button {
                &:first-child {
                    margin-right: 23px;
                   // margin-bottom: 6px;
                    @include mq($from: wide) {
                        margin: 0;
                    }
                }
                @include mq($until: desktop) {
                    display: none;
                }
            }
        }
    }
    .dropdwn{
        @include mq($from: desktop) {
            display: none;
        }
        a {
            color: $color-blue-cian;
        }
    }
}