/*******************
    FONTS
*******************/

/*************
    COLORS
*************/

.card-profile {
  width: 100%;
  margin: 0 7px 35px;
  overflow: hidden;
}

.card-profile-image__input {
  visibility: hidden;
  position: absolute;
}

.card-profile-image__label {
  position: absolute;
  background-color: #00588E;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
}

.card-profile-image__label span {
  font-size: 10px;
}

@media (min-width: 78.125em) {
  .card-profile-image__label span {
    font-size: 17px;
    padding-right: 5px;
  }
}

.card-profile-front {
  height: 114px;
  width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 31px;
}

@media (min-width: 61.25em) {
  .card-profile-front {
    height: 237px;
  }
}

.card-profile-front__wrapper {
  height: 100%;
}

.card-profile-front .card-profile-image__label {
  height: 35px;
  padding: 0 7px;
  border-radius: 5px;
  left: 16px;
  top: 17px;
}

.card-profile-front .card-profile-image__label span {
  padding-right: 5px;
}

.card-profile-front .card-profile-image {
  height: 100%;
}

.card-profile-front .card-profile-image__preview-img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-profile-info {
  padding: 5px 15px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  position: relative;
}

@media (min-width: 61.25em) {
  .card-profile-info {
    padding: 20px 40px 32px;
  }
}

.card-profile-info__left h2 {
  font-size: 11px;
  font-family: "poppinsbold";
  font-size: 11px;
}

@media (min-width: 46.25em) {
  .card-profile-info__left h2 {
    font-size: 17px;
  }
}

@media (min-width: 61.25em) {
  .card-profile-info__left h2 {
    font-size: 23px;
  }
}

@media (min-width: 81.25em) {
  .card-profile-info__left h2 {
    font-size: 30px;
  }
}

.card-profile-info__left h3 {
  font-size: 9px;
  font-family: "poppinslight";
  line-height: 1.4;
  font-size: 9px;
}

@media (min-width: 46.25em) {
  .card-profile-info__left h3 {
    font-size: 14px;
  }
}

@media (min-width: 61.25em) {
  .card-profile-info__left h3 {
    font-size: 19px;
  }
}

@media (min-width: 81.25em) {
  .card-profile-info__left h3 {
    font-size: 25px;
  }
}

.card-profile-info__left span {
  color: #5E728A;
  font-size: 9px;
  font-family: "poppinslight";
  padding-right: 5px;
  line-height: 2;
  font-size: 9px;
}

@media (min-width: 46.25em) {
  .card-profile-info__left span {
    font-size: 12px;
  }
}

@media (min-width: 61.25em) {
  .card-profile-info__left span {
    font-size: 15px;
  }
}

@media (min-width: 81.25em) {
  .card-profile-info__left span {
    font-size: 18px;
  }
}

.card-profile-info__right {
  display: flex;
  padding-right: 92px;
}

@media (min-width: 61.25em) {
  .card-profile-info__right {
    padding-right: 212px;
  }
}

.card-profile-info-image {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  position: absolute;
  top: -58px;
  right: 21px;
}

@media (min-width: 61.25em) {
  .card-profile-info-image {
    width: 207px;
    height: 207px;
    top: -148px;
    right: 55px;
  }
}

.card-profile-info-image .card-profile-image__label {
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  bottom: 4px;
  right: 7px;
  z-index: 2;
}

@media (min-width: 61.25em) {
  .card-profile-info-image .card-profile-image__label {
    width: 34px;
    height: 34px;
    bottom: 20px;
    right: 29px;
  }
}

.card-profile-info-image .card-profile-image__preview-img {
  position: absolute;
  width: 84px;
  height: 84px;
  border-radius: 50%;
}

@media (min-width: 61.25em) {
  .card-profile-info-image .card-profile-image__preview-img {
    width: 207px;
    height: 207px;
  }
}

.card-profile-info__description {
  line-height: 1.4;
  font-family: "poppinslight";
  margin: 16px 0 5px;
  font-size: 10px;
}

@media (min-width: 46.25em) {
  .card-profile-info__description {
    font-size: 12px;
  }
}

@media (min-width: 61.25em) {
  .card-profile-info__description {
    font-size: 14px;
  }
}

@media (min-width: 81.25em) {
  .card-profile-info__description {
    font-size: 16px;
  }
}

.card-profile-info__costs {
  display: none;
}

@media (min-width: 61.25em) {
  .card-profile-info__costs {
    display: block;
  }
}

.card-profile-info__costs li {
  font-family: "poppinslight";
  line-height: 1.5;
}

.card-profile-info__costs li strong {
  font-family: "poppinsbold";
  font-weight: bold;
}

.card-profile-info__social-media {
  display: flex;
}

.card-profile-info__social-media a {
  color: #5E728A;
  text-decoration: none;
  font-size: 14px;
  margin: 0 4.5px;
  font-size: 14px;
}

@media (min-width: 46.25em) {
  .card-profile-info__social-media a {
    font-size: 20px;
  }
}

@media (min-width: 61.25em) {
  .card-profile-info__social-media a {
    font-size: 26px;
  }
}

@media (min-width: 81.25em) {
  .card-profile-info__social-media a {
    font-size: 33px;
  }
}

@media (max-width: 61.24em) {
  .card-profile-info__controls {
    width: 100%;
    text-align: right;
  }
}

.card-profile-info__controls .button {
  height: 20px;
  border-radius: 5px;
  padding: 0 6px;
}

@media (min-width: 61.25em) {
  .card-profile-info__controls .button {
    height: 42px;
    padding: 8px 11px;
  }
}

.card-profile-info__controls .button__icon {
  font-size: 10px;
}

@media (min-width: 61.25em) {
  .card-profile-info__controls .button__icon {
    display: block;
    font-size: 17px;
  }
}

.card-profile-info__controls .button__text {
  display: none;
}

@media (min-width: 61.25em) {
  .card-profile-info__controls .button__text {
    display: block;
    font-size: 15px;
  }
}

