/*******************
    FONTS
*******************/

/*************
    COLORS
*************/

/*******************
    BREAKPOINTS
*******************/

.citation-breakdown {
  max-width: 438px;
}

.citation-breakdown__container {
  padding: 26px 77px 35px 75px;
}

.citation-breakdown__content {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
}

.citation-breakdown__item {
  width: calc(50% - 10px);
  text-align: center;
}

.citation-breakdown__number {
  color: #C4C4C4;
  font-size: 30px;
}

@media (min-width: 61.25em) {
  .citation-breakdown__number {
    font-size: 50px;
  }
}

.citation-breakdown__text {
  line-height: 1.4;
  font-size: 11px;
}

@media (min-width: 46.25em) {
  .citation-breakdown__text {
    font-size: 14px;
  }
}

