/*******************
    FONTS
*******************/

/*************
    COLORS
*************/

/*******************
    BREAKPOINTS
*******************/

.diagnostics__container {
  padding: 30px 77px 31px;
}

.diagnostics__list {
  list-style: decimal;
  list-style-position: inside;
}

@media (min-width: 46.25em) {
  .diagnostics__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.diagnostics__item {
  font-size: 20px;
  margin-top: 26px;
}

@media (min-width: 46.25em) {
  .diagnostics__item {
    width: 50%;
  }
}

.diagnostics__item::marker {
  font-family: "poppinsbold";
}

.diagnostics__item strong {
  font-weight: normal;
  font-family: "poppinsbold";
}

