/*******************
    FONTS
*******************/

/*************
    COLORS
*************/

.form-profile {
  max-width: 100%;
}

@media (min-width: 46.25em) {
  .form-profile {
    max-width: 350px;
  }
}

@media (min-width: 61.25em) {
  .form-profile {
    max-width: 460px;
  }
}

@media (min-width: 81.25em) {
  .form-profile {
    max-width: 586px;
  }
}

.form-profile__container {
  padding: 20px 18px 25px;
  position: relative;
}

@media (min-width: 46.25em) {
  .form-profile__container {
    padding: 37px 30px 34px;
  }
}

@media (min-width: 61.25em) {
  .form-profile__container {
    padding: 62px 61px 34px;
  }
}

.form-profile .form {
  padding: 15px 10px 0;
}

@media (max-width: 46.24em) {
  .form-profile .form__title {
    justify-content: initial;
  }

  .form-profile .form__title .button {
    margin-left: 12px;
  }
}

@media (min-width: 61.25em) {
  .form-profile .form__title {
    font-size: 30px;
  }
}

.form-profile .form input:disabled,
.form-profile .form select:disabled {
  background-color: #fff;
}

.form-profile .form .button {
  cursor: pointer;
  border-radius: 5px;
}

@media (max-width: 46.24em) {
  .form-profile .form .button__text {
    display: none;
  }
}

.form-profile .form #button-save {
  opacity: 0;
  transition: opacity 400ms;
  margin-top: 10px;
}

@media (max-width: 46.24em) {
  .form-profile .form #button-save {
    position: absolute;
    top: 23px;
    right: calc(100% - 280px);
  }
}

