/*******************
    FONTS
*******************/

/*************
    COLORS
*************/

.progress {
  width: 100%;
}

.progress__container {
  padding: 17px 20px 22px;
}

@media (min-width: 61.25em) {
  .progress__container {
    padding: 32px 20px 46px;
  }
}

.progress__title {
  color: #00588E;
  text-align: center;
  font-family: "poppinsbold";
  font-size: 12px;
}

@media (min-width: 46.25em) {
  .progress__title {
    font-size: 16px;
  }
}

@media (min-width: 61.25em) {
  .progress__title {
    font-size: 30px;
  }
}

.progress-percentage {
  max-width: 761px;
  margin: auto;
  width: 100%;
}

.progress-percentage__list {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 25px;
}

@media (max-width: 61.24em) {
  .progress-percentage__list {
    flex-direction: column;
  }
}

@media (min-width: 61.25em) {
  .progress-percentage__list:before {
    content: "";
    position: absolute;
    width: 90%;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.5);
    margin: auto;
    left: 0;
    right: 0;
    bottom: 26px;
    z-index: 0;
  }
}

.progress-percentage__item {
  text-align: center;
  z-index: 1;
}

.progress-percentage__item span {
  font-family: "poppinsmedium";
  line-height: 1.5;
  font-size: 12px;
}

@media (min-width: 46.25em) {
  .progress-percentage__item span {
    font-size: 16px;
  }
}

@media (min-width: 61.25em) {
  .progress-percentage__item span {
    font-size: 18px;
  }
}

.progress-percentage__item div {
  background-color: #00588E;
  color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto auto;
  font-size: 10px;
  font-family: "poppinsbold";
}

@media (min-width: 61.25em) {
  .progress-percentage__item div {
    width: 56px;
    height: 56px;
    font-size: 18px;
  }
}

.progress-percentage__item div.disabled {
  background-color: #C4C4C4;
  color: #000;
}

