/*******************
    FONTS
*******************/

/*************
    COLORS
*************/

.tabs-timetable {
  width: 100%;
}

.tabs-timetable-wrapper {
  width: 100%;
  background-color: #fff;
  border-radius: 31px;
  padding: 32px 10px;
  position: relative;
}

@media (min-width: 35.9375em) {
  .tabs-timetable-wrapper {
    padding: 32px 20px;
  }
}

@media (min-width: 46.25em) {
  .tabs-timetable-wrapper {
    padding: 32px 40px;
  }
}

@media (min-width: 61.25em) {
  .tabs-timetable-wrapper {
    padding: 32px 40px 28px;
  }
}

.tabs-timetable .tabs-content {
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

.tabs-timetable__day {
  font-family: "poppinsbold";
  font-size: 17px;
  margin-bottom: 22px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: 46.25em) {
  .tabs-timetable__day {
    margin-bottom: 20px;
  }
}

@media (min-width: 61.25em) {
  .tabs-timetable__day {
    font-size: 16px;
  }
}

.tabs-timetable__day span {
  font-family: "poppinslight";
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  display: block;
  padding-top: 3px;
}

.tabs-timetable__time {
  background-color: #fff;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  margin: 7px 10px;
  color: #C4C4C4;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-family: "poppinslight";
}

@media (min-width: 35.9375em) {
  .tabs-timetable__time {
    margin: 5px 4.5px;
  }
}

.tabs-timetable .slick-next,
.tabs-timetable .slick-prev {
  background-color: #fff;
  border: 0;
  position: absolute;
  top: -6px;
  z-index: 1;
}

.tabs-timetable .slick-next span,
.tabs-timetable .slick-prev span {
  font-size: 25px;
  color: #5E728A;
}

.tabs-timetable .slick-next.slick-disabled,
.tabs-timetable .slick-prev.slick-disabled {
  opacity: 0;
}

.tabs-timetable .slick-next {
  right: 2%;
  transform: rotate(180deg);
}

.tabs-timetable .slick-prev {
  left: 2%;
}

.tabs-timetable-arrows {
  background: #ffc0cb94;
  width: 87%;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.tabs-timetable__arrow {
  background: transparent;
  border: 0;
  position: absolute;
  color: #00588E;
}

.tabs-timetable__arrow span {
  font-size: 25px;
}

.tabs-timetable__arrow--right {
  transform: rotate(180deg);
  right: 0;
}

#presenciales .time-available {
  background-color: #30AB9E;
  color: #fff;
}

#presenciales .tabs-timetable__arrow {
  color: #30AB9E;
}

#virtuales .time-available {
  background-color: #0066A5;
  color: #fff;
}

#virtuales .tabs-timetable__arrow {
  color: #00588E;
}

.tabs-timetable-controls {
  text-align: right;
  padding-top: 17px;
}

@media (min-width: 61.25em) {
  .tabs-timetable-controls {
    transform: translate(-4px, 6px);
  }
}

@media (min-width: 75em) {
  .tabs-timetable-controls {
    transform: translate(-65px, 6px);
  }
}

.tabs-timetable-controls .button {
  height: 25px;
  border-radius: 5px;
}

@media (min-width: 61.25em) {
  .tabs-timetable-controls .button {
    height: 35px;
  }
}

.tabs-timetable-controls .button__icon {
  font-size: 15px;
}

@media (min-width: 61.25em) {
  .tabs-timetable-controls .button__icon {
    font-size: 22px;
  }
}

.tabs-timetable-controls .button__text {
  font-size: 10px;
}

@media (min-width: 61.25em) {
  .tabs-timetable-controls .button__text {
    font-size: 15px;
  }
}

