/*******************
    FONTS
*******************/

/*************
    COLORS
*************/

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.tabs {
  width: 100%;
  margin: 0 7px 45px;
  min-width: 332px;
}

.tabs-header {
  display: flex;
  justify-content: center;
}

.tabs-header-link {
  display: inline-block;
  padding: 9px 10px;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #E1E1E1;
  font-family: "poppinslight";
  border-radius: 17px;
  width: 106px;
  text-align: center;
  margin: 19px 8px;
  font-size: 10px;
}

@media (min-width: 35.9375em) {
  .tabs-header-link {
    width: 200px;
    font-size: 16px;
    padding: 12px 20px;
    margin: 19px;
  }
}

@media (min-width: 61.25em) {
  .tabs-header-link {
    max-width: 319px;
    width: 100%;
    padding: 15px 30px;
  }
}

.tabs-header-link.current {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  background-color: #fff;
  font-family: "poppinsmedium";
}

.tabs-content {
  background-color: #fff;
  padding: 32px 10px;
  border-radius: 31px;
}

@media (min-width: 35.9375em) {
  .tabs-content {
    padding: 32px 20px;
  }
}

@media (min-width: 46.25em) {
  .tabs-content {
    padding: 32px 40px;
  }
}

@media (min-width: 61.25em) {
  .tabs-content {
    padding: 32px 40px 28px;
  }
}

.tabs-content__item {
  display: none;
  -webkit-animation: fadein 0.8s;
          animation: fadein 0.8s;
}

.tabs-content__item.current {
  display: inherit;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.tabs-legend {
  display: flex;
  padding-right: 30px;
  justify-content: center;
  padding: 10px 0px 15px;
}

@media (min-width: 46.25em) {
  .tabs-legend {
    justify-content: flex-end;
  }
}

@media (min-width: 61.25em) {
  .tabs-legend {
    padding: 10px 107px 15px;
  }
}

.tabs-legend__item {
  display: flex;
  margin-left: 7px;
  align-items: center;
}

@media (min-width: 46.25em) {
  .tabs-legend__item {
    margin-left: 16px;
  }
}

.tabs-legend__color {
  width: 17px;
  height: 17px;
  margin-left: 5px;
}

@media (min-width: 61.25em) {
  .tabs-legend__color {
    width: 25px;
    height: 25px;
    margin-left: 12px;
  }
}

.tabs-legend__color--white {
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.tabs-legend__color--green-light {
  background-color: #30AB9E;
}

.tabs-legend__color--blue-cian {
  background-color: #00588E;
}

.tabs-legend__text {
  font-size: 12px;
  color: #AEAEAE;
  font-family: "poppinslight";
}

@media (min-width: 46.25em) {
  .tabs-legend__text {
    font-size: 15px;
  }
}

@media (min-width: 61.25em) {
  .tabs-legend__text {
    font-size: 18px;
  }
}

@media (min-width: 81.25em) {
  .tabs-legend__text {
    font-size: 20px;
  }
}

