@import '../../../sass/utils/variables';
@import './node_modules/sass-mq/mq';

.tabs-timetable {

    &__day {
        font-family: $font-poppins-bold;
        font-size: 17px;
        margin-bottom: 22px;
        text-align: center;
        text-transform: uppercase;
        @include mq($from: tablet) {
            margin-bottom: 20px;
        }
        @include mq($from: desktop) {
            font-size: 16px;
        }
        
    }

    &__time {
        background-color: $color-white;
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        margin: 7px 10px;
        color: $color-grey;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        font-family: $font-poppins-light;
        
        @include mq($from: 575px) {
            margin: 5px 4.5px;
        }
    }

    .slick-next, .slick-prev {
        background-color: $color-white;
        border: 0;
        position: absolute;
        top: -6px;
        z-index: 1;
        span {
            font-size: 25px;
            color: $color-blue-green;
        }
        &.slick-disabled {
            opacity: 0;
        }
    }
    .slick-next {
        right: 2%;
        transform: rotate(180deg);
    }
    .slick-prev {
        left: 2%;
    }
   
}
#presenciales{
    .time-available {
        background-color: $color-green-light;
        color: $color-white;
    }
}  
#virtuales {
    .time-available {
        background-color: $color-blue;
        color: $color-white;
    }
}
.tabs-timetable-controls {
    text-align: right;
    padding-top: 17px;

    @include mq($from: desktop) {
        transform: translate(-4px, 6px);
    }
    
    @include mq($from: 1200px) {
        transform: translate(-65px, 6px);
    }

    .button {
        height: 25px;
        border-radius: 5px;
        @include mq($from: desktop) {
            height: 35px;
        }
        &__icon {
            font-size: 15px;
            @include mq($from: desktop) {
                font-size: 22px;
            }
        }
        &__text {
            font-size: 10px;
            @include mq($from: desktop) {
                font-size: 15px;
            }
        }
    }
}