@import '../../../sass/utils/variables';
@import './node_modules/sass-mq/mq';
@import './node_modules/slick-carousel/slick/slick';

.tabs {
    width: 100%;
    margin: 0 7px 45px;
    min-width: 332px;

    &-header  {
        display: flex;
        justify-content: center;

        &-link {
            display: inline-block;
            padding: 9px 10px;
            cursor: pointer;
            text-transform: uppercase;
            background-color: #E1E1E1;
            font-family: $font-poppins-light;
            border-radius: 17px;
            width: 106px;
            text-align: center;
            margin: 19px 8px;
            font-size: 10px;
            @include mq($from: 575px) {
                width: 200px;
                font-size: 16px;
                padding: 12px 20px;
                margin: 19px;
            }
            @include mq($from: desktop) {
                max-width: 319px;
                width: 100%;
                padding: 15px 30px;
            }

            &.current{
                box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
                font-weight: 600;
                background-color: $color-white;
                font-family: $font-poppins-medium;
            }
        }
        
    }
}

.tabs-content {
    background-color: $color-white;
    padding: 32px 10px;
    border-radius: $border-radius;
    @include mq($from: 575px) {
        padding: 32px 20px;
    }

    @include mq($from: tablet) {
        padding: 32px 40px;
    }

    @include mq($from: desktop) {
        padding: 32px 40px 28px;
    }

    &__item{
        display: none;
        animation: fadein .8s;

        &.current{
            display: inherit;
        }
    }  
    #face-to-face {
        .time-available {
            background-color: $color-green-light;
            color: $color-white;
        }
    }  
    #virtual {
        .time-available {
            background-color: $color-blue;
            color: $color-white;
        }
    }
}
@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}

.tabs-timetable {

    &__day {
        font-family: $font-poppins-bold;
        font-size: 17px;
        margin-bottom: 22px;
        text-align: center;
        text-transform: uppercase;
        @include mq($from: tablet) {
            margin-bottom: 20px;
        }
        @include mq($from: desktop) {
            font-size: 16px;
        }
        
    }

    &__time {
        background-color: $color-white;
        box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.25);
        border-radius: 3px;
        margin: 7px 10px;
        color: $color-grey;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        font-family: $font-poppins-light;
        
        @include mq($from: 575px) {
            margin: 5px 4.5px;
        }
    }

    .slick-next, .slick-prev {
        background-color: $color-white;
        border: 0;
        position: absolute;
        top: -6px;
        z-index: 1;
        span {
            font-size: 25px;
            color: $color-blue-green;
        }
        &.slick-disabled {
            opacity: 0;
        }
    }
    .slick-next {
        right: 2%;
        transform: rotate(180deg);
    }
    .slick-prev {
        left: 2%;
    }
   
}

.tabs-controls {
    text-align: right;
    padding-top: 17px;

    @include mq($from: desktop) {
        transform: translate(-4px, 6px);
    }
    
    @include mq($from: 1200px) {
        transform: translate(-65px, 6px);
    }

    .button {
        height: 25px;
        border-radius: 5px;
        @include mq($from: desktop) {
            height: 35px;
        }
        &__icon {
            font-size: 15px;
            @include mq($from: desktop) {
                font-size: 22px;
            }
        }
        &__text {
            font-size: 10px;
            @include mq($from: desktop) {
                font-size: 15px;
            }
        }
    }
}