* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-poppins-regular;
    font-weight: normal;
    color: #000;
    overflow-x: hidden;
}
ul {
    list-style: none;
}
