* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    &:focus {
        outline: 2px solid orange;
    }
    
    &:active {
        outline: none;
    }
}

body {
    font-family: $font-poppins-regular;
    font-weight: normal;
    color: #000;
    overflow-x: hidden;
}
ul {
    list-style: none;
}
