//-* ===========================
//   #GLOBAL
//   ===========================
$box-shadow: 0px 10px 15px rgba(94, 114, 138, 0.1);
$margin-bottom: 30px;
$margin-component: 0 15px;
$border-radius: 31px;
$border-line: 1px dashed rgba(0, 0, 0, 0.2);