/* ==========================================================================
   #WRAPPER
   ========================================================================== */
   $wrapper-padding: 60px;
   
    .wrapper {
        margin-left:  114px;
        width: calc(100% - 114px);
        margin-top: 0;
        background-color: $color-blue-light;
        transition: transform 400ms, opacity 400ms;
        @include mq($until: desktop) {
            width: 100%;
            margin-left: 0;
        }

        &__content {
            padding-left: 3px;
            padding-right: 3px;
            padding-bottom: 180px;
            max-width: 500px;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @include mq($from: 575px) {
                padding-left: 15px;
                padding-right: 15px;
            }
            @include mq($from: tablet) {
                max-width: 700px;
             }
            @include mq($from: desktop) {
                max-width: 850px;
                padding-bottom: 0;
            }
            @include mq($from: desktoplg) {
                max-width: 1080px;
            }
            @include mq($from: wide) {
                max-width: 1165px;
            }
        }
        
        &--flush-mobile {
            @include mq($until: tablet) {
                padding: 0;
            }
        }
    }


