/* ==========================================================================
   #WRAPPER
   ========================================================================== */
   $wrapper-padding: 60px;
   
    .wrapper {
        margin-left:  114px;
        width: calc(100% - 114px);
        margin-top: 0;
        background-color: $color-blue-light;
        transition: transform 400ms, opacity 400ms;
        @include mq($until: desktop) {
            width: 100%;
            margin-left: 0;
        }

        &__content {
            padding-right: $wrapper-padding;
            padding-left:  $wrapper-padding;
            
            @include mq($until: desktop) {
               padding-left: 15px;
               padding-right: 15px;
               padding-bottom: 180px;
            }
        }
        
        &--flush-mobile {
            @include mq($until: tablet) {
                padding: 0;
            }
        }
    }


