.icon-add:before {
  content: "\e91b";
}
.icon-close:before {
  content: "\e91c";
}
.icon-web:before {
  content: "\e91a";
}
.icon-polygon:before {
  content: "\e919";
}
.icon-time:before {
  content: "\e917";
}
.icon-date:before {
  content: "\e918";
}
.icon-whatsapp2:before {
  content: "\e913";
}
.icon-facebook:before {
  content: "\e914";
}
.icon-instagram2:before {
  content: "\e915";
}
.icon-linkedin:before {
  content: "\e916";
}
.icon-appointment:before {
  content: "\e900";
}
.icon-attach:before {
  content: "\e901";
}
.icon-calendar:before {
  content: "\e902";
}
.icon-check:before {
  content: "\e903";
}
.icon-clock:before {
  content: "\e904";
}
.icon-config:before {
  content: "\e906";

}
.icon-edit:before {
  content: "\e907";
}
.icon-grid:before {
  content: "\e908";
}
.icon-indicators:before {
  content: "\e909";
}
.icon-leave:before {
  content: "\e90a";
}
.icon-link:before {
  content: "\e90b";
}
.icon-patient:before {
  content: "\e90c";
}
.icon-pdf:before {
  content: "\e90d";
}
.icon-save:before {
  content: "\e90e";
}
.icon-share:before {
  content: "\e90f";
}
.icon-user:before {
  content: "\e910";
}
.icon-view:before {
  content: "\e911";
}
.icon-whatsapp:before {
  content: "\e912";
}
