
@mixin font-increment($initial-font-size, $final-font-size) {
    $plus: round(( $final-font-size - $initial-font-size)/3);
    font-size: $initial-font-size;
    @content;
    @include mq($from: tablet) {
        font-size: $initial-font-size + $plus;
    }
    @include mq($from: desktop) {
        font-size: $initial-font-size + $plus*2;
    }
    @include mq($from: wide) {
        font-size: $final-font-size;
    }
}