/*******************
    FONTS
*******************/

$font-poppins-regular: 'poppinsregular';
$font-poppins-medium: 'poppinsmedium';
$font-poppins-light: 'poppinslight';
$font-poppins-bold: 'poppinsbold';
$font-poppins-extrabold: 'poppinsextrabold';


/*************
    COLORS
*************/
$color-blue: #0066A5;
$color-blue-cian: #00588E;
$color-blue-whale: #002D48;
$color-blue-green: #5E728A;
$color-blue-green__light:#7D8FA3;
$color-blue-light:rgba(204, 220, 232, 0.25);
$color-cian: #CCDCE8;
$color-silver: #99C2DB;
$color-grey:#C4C4C4;
$color-grey2: #A9A9A9;
$color-grey3: #838383;
$color-grey4: #AFB8C4;
$color-grey5: #747474;
$color-green: #1E9800;
$color-green-light: #30AB9E;
$color-gray: #363636;
$color-gray2:#5C5C5C;
$color-black: #000;
$color-red: #C70000;
$color-pink: rgba(199,0,0,.5);
$color-white: #fff;

//-* ===========================
//   #GLOBAL
//   ===========================
$box-shadow: 0px 10px 15px rgba(94, 114, 138, 0.1);
$margin-bottom: 30px;
$margin-component: 0 15px;
$border-radius: 31px;
$border-line: 1px dashed rgba(0, 0, 0, 0.2);