@import '../../../sass/utils/variables';
@import './node_modules/sass-mq/mq';

.modal {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ccccccc4;
    opacity: 0;
    z-index: -1;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
    &.is-show {
        opacity: 1;
        z-index: 100;
        visibility: visible;
      }
    &__container {
        max-width: 1108px;
        margin: auto;
        background-color: #fff;
        padding: 45px 37px 30px 56px;
        box-sizing: border-box;
        border-radius: 41px;
        position: relative;
        max-height: 849px;
        //overflow: auto;
        
        @include mq($until: wide) {
            height: 90%;
            overflow: auto;
            width: 90%;
            padding: 28px 26px 30px 26px;
        }
    }
    &__body {
        max-height: 793px;
        overflow: auto;
        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        
        &::-webkit-scrollbar:vertical {
            width: 5px;
        } 
        
        
        &::-webkit-scrollbar-thumb {
            background-color: #79797954;
            border-radius: 20px;
        }
    }
    &-close {
        position: absolute;
        top: 15px;
        right: 15px;

        &__btn {
            text-decoration: none;
            font-family: $font-poppins-bold;
            color: $color-blue;
            font-size: 20px;
            background-color: transparent;
            border: 0;
            
            &:hover {
                opacity: .8;
            }
        }
    }
}
